/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
*/
/* Making it standard, to change, do it inside every declaration */
a {
    font-family: 'Montserrat', sans-serif;
}
h1 , h2, h3 {
    font-family: 'Merriweather', serif;
}
/* Done */

*{
    margin: 0;
    padding:0;
}

/* Navbar */
#navbar {
    /* border: 2px solid red; */
    top: 0;
    left: 0;
    position: sticky;
    z-index: 5;
}

#navimg {
    height: 50px;
    width: 50px;
    margin-right: 0.4vw;
	cursor: pointer;
}

#navul {
    /* border: 2px solid black; */
    display: inline-flex;
    position: absolute;
    right: 0.9vw;
    top: 25%;
    margin: auto;
}

.navlist {
    list-style-type: none;
    margin: 2px;
}

.navlist a {
    /* border: 2px solid red; */
    text-decoration: none;
    padding: 4px 10px;
    margin: 0 4px;
    border-radius: 5px;
    color: black;
    font-weight: 900;
}

/* Home Section */

#home{
    /* border: 5px solid black; */
    height: calc(100vh - 70px);
    overflow: hidden;
    color: white;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.content-container{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: inherit;
    background-color: rgb(57, 40, 120);
    box-shadow: 25px 0px 5px rgb(57, 40, 120);
}

.content{
    /* border: 2px solid red; */
    width: 25vw;
    display: flex;
    flex-direction: column;
    
}
.content span{
    color: aqua;
}

.content h1{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 50px;
}

.content p{
    line-height: 30px;
    font-size: 1.2rem;
    margin: 30px 0px;
}

/* .btn-container{
    display: flex;
    justify-content: space-between;
} */

.btn-container .btn:nth-child(1){
    margin-right: 30px;
}

.img{
    width: 50%;
    /* border: 2px solid black; */
    z-index: -1;
}

/* About Us */




/* Projects */




/* Services */




/* Contact */




/* Footer */


/* utility class */

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    color: white;
    background-color: rgb(57, 40, 120);
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
}

.primary{
    background-color: rgb(36, 121, 212);
}